  <!--Tasks-->
  <!--Add in Titles so that it appears when you type only-->

  <input type="search" (keyup)="searchArtists(searchTerm.value)" #searchTerm />

  <p></p>

  <div class="container">
    <h4 style=" text-align: center;" id="Titles">Artists</h4>


    <div *ngFor="let artistsName of artists" class="items">

      <img src="{{artistsName.images[0].url}}" class="artist-image" width="200" height="200"
        (click)="DisplayArtists(artistsName)">
      <h5 id="Name">{{ artistsName.name }}</h5>

    </div>

    <p></p>

    <div class="container">
      <h4 style=" text-align: center;" id="Titles">Albums</h4>

      <div *ngFor="let albumCover of albums" class="items">

        <img src="{{albumCover.images[0].url}}" class="artist-image" width="200" height="200"
          (click)="DisplayAlbum(albumCover)">
        <h5 id="Name">{{ albumCover.name }}</h5>

      </div>
    </div>
