<input type="search" (keyup)="searchArtists(searchTerm.value)" #searchTerm />

<div class="container">

  <div *ngFor="let artistsName of artists" class="item">
    <img src="{{artistsName.images[0].url}}" class="artist-image" width="200" height="200">
    <h5 id="artistName">{{ artistsName.name }}</h5>
  </div>

</div>

<div class="container">

  <div *ngFor="let albumCover of albums" class="item">
    <img src="{{albumCover.images[0].url}}" class="artist-image" width="200" height="200">
    <h5 id="artistName">{{ albumCover.name }}</h5>
  </div>
  
</div>